<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>麻花Talk - 华语校园交友电台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    {{#postcss}}
    <script src="http://static.doufan.tv/corejs/flexible.define.min.js"></script>
    <script src="http://static.doufan.tv/corejs/baidu.count.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    {{/postcss}}
  </head>
  <body ontouchstart="" onmouseover="">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
